.TaskFormContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  input[type="text"],
  input[type="date"] {
    min-width: 100% !important;
    padding: 10px;
    border: none;
    margin: 5px 0px;
    border-radius: 10px;
    &:focus {
      background-color: rgb(207, 241, 230);
    }
  }
  label {
    color: rgb(83, 74, 74);
    font-size: 1rem;
  }
}
.close {
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 25px;
  color: red;
}
