body {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  height: 70vh;
  min-width: 450px;
  border-radius: 10px;
  padding: 10px 0;
  background-color: #e9e7e7;
  margin: 20px 20px;
  overflow-x: auto;
}

.card .cardTitle {
  color: #65a70e;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 12px -8px;
          box-shadow: 0px 10px 12px -8px;
  margin-bottom: 20px;
}

@media (max-width: 450px) {
  .card {
    min-width: 90%;
    margin: 20px 10px;
  }
}

@media (max-width: 900px) {
  .card {
    min-height: 50vh;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
}

.header h1 {
  color: #696906;
  -webkit-box-shadow: 0px 10px 12px -8px;
          box-shadow: 0px 10px 12px -8px;
}

.button {
  padding: 10px 15px;
  color: white;
  background-color: #57880d;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.button:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.taskPage {
  width: 100vw;
  height: 100vh;
}

.taskPage .headerBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}

.profile {
  height: 30px;
  width: 30px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-radius: 50%;
  font-size: 1.5rem;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 12px -8px;
          box-shadow: 0px 10px 12px -8px;
}

.profile > button {
  position: absolute;
  top: 30px;
}

.cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  margin: 20px;
  border-radius: 10px;
}

.taskCard {
  background-color: white;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.taskCard .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #127e7e;
  margin-bottom: 5px;
}

.taskCard .title p {
  text-overflow: ellipsis;
  width: 90%;
}

.taskCard .title .edit {
  cursor: pointer;
}

.taskCard .title .delete {
  width: 10%;
  cursor: pointer;
  color: red;
}

.taskCard .description {
  font-size: 1rem;
  color: #303535;
  padding: 5px 0;
  text-align: justify;
}

.taskCard .duration {
  font-size: 0.8rem;
  color: #0c3a64;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.taskCard .duration p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
}

.taskCard .duration .expired {
  color: red;
}

.taskCard .duration .expires {
  color: orange;
}

.modalContainer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(77, 65, 65, 0.7)), to(rgba(77, 65, 65, 0.7)));
  background-image: linear-gradient(rgba(77, 65, 65, 0.7), rgba(77, 65, 65, 0.7));
  position: absolute;
  z-index: 100;
}

.modal {
  width: 40%;
  background-color: #d6f0b8;
  top: 50%;
  left: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close {
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 25px;
  color: red;
}

@media (max-width: 900px) {
  .modal {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .modal {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .modal {
    width: 90%;
  }
}

.TaskFormContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.form {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form input[type="text"],
.form input[type="date"] {
  min-width: 100% !important;
  padding: 10px;
  border: none;
  margin: 5px 0px;
  border-radius: 10px;
}

.form input[type="text"]:focus,
.form input[type="date"]:focus {
  background-color: #cff1e6;
}

.form label {
  color: #534a4a;
  font-size: 1rem;
}

.close {
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 25px;
  color: red;
}

.editFormContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.editForm {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editForm input[type="text"],
.editForm input[type="date"],
.editForm select {
  min-width: 100% !important;
  padding: 10px;
  border: none;
  margin: 5px 0px;
  border-radius: 10px;
}

.editForm input[type="text"]:focus,
.editForm input[type="date"]:focus,
.editForm select:focus {
  background-color: #cff1e6;
}

.editForm label {
  color: #534a4a;
  font-size: 1rem;
}

.editFormClose {
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 25px;
  color: red;
}

.container {
  height: 90vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .form-holder {
  width: 400px;
  background: #beb1b1;
  border: 1px solid #ced4da;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.container .form-holder form {
  padding: 20px;
}

.container .form-holder form h3 {
  color: red;
  text-align: center;
}

.container .form-holder h2 {
  margin: 10px 0;
  text-align: center;
}

.container .form-holder .form-group {
  margin: 20px 20px;
}

.container .form-holder input {
  background: #f4f4f4;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  height: 41px;
  border: none;
  width: 100%;
  outline: none;
  padding-left: 10px;
}

.container .form-holder input:focus {
  border-bottom: 2px solid red;
}

.container .form-holder p {
  margin-left: 20px;
}

.container .form-holder button {
  padding: 10px;
  width: 40%;
  background-color: #6df06d;
  border: none;
  cursor: pointer;
  color: white;
}

.container .form-holder button:hover {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

@media (max-width: 750px) {
  body {
    font-size: 11px;
  }
}
/*# sourceMappingURL=App.css.map */